<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" th:fragment="layouts-sidebar-menu">
    <div class="menu_section">
        <h3>Quản lý</h3>
        <ul class="nav side-menu">
            <li><a href="/admin/customers"><i class="fa fa-users"></i> Danh sách khách hàng</a></li>
            <li><a href="/admin/orders"><i class="fa fa-reorder"></i> Danh sách đơn hàng</a></li>
<!--            <li><a href="/admin/order_logs"><i class="fa fa-history"></i> Lịch sử đơn hàng</a></li>-->
            <li><a><i class="fa fa-list-ul"></i> Danh mục sản phẩm <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/admin/categories">Danh mục cha</a></li>
                    <li><a href="/admin/subcategories">Danh mục con</a></li>
                </ul>
            </li>
            <li><a href="/admin/products"><i class="fa fa-th-list"></i> Danh sách sản phẩm</a></li>
            <li><a href="/admin/manufactures"><i class="fa fa-truck"></i> Danh sách nhà cung cấp</a></li>
            <li><a href="/admin/selling_places"><i class="fa fa-hospital-o"></i> Hệ thống đại lý</a></li>
            <li><a href="/admin/warranties"><i class="fa fa-qrcode"></i> Danh sách bảo hành</a></li>
            <li><a href="/admin/inventories"><i class="fa fa-home"></i> Danh mục tồn kho</a></li>
            <li><a href="/admin/promotions"><i class="fa fa-money"></i> Khuyến mãi</a></li>
            <li><a href="/admin/banners"><i class="fa fa-picture-o"></i> Quảng cáo</a></li>
            <li><a href="/admin/posts"><i class="fa fa-newspaper-o"></i> Danh sách tin tức</a></li>
            <li><a href="/admin/pages"><i class="fa fa-gavel"></i> Danh sách trang chính sách</a></li>
            <li><a href="/admin/users"><i class="fa fa-user-md"></i> Người dùng hệ thống</a></li>
            <li><a href="/admin/comments"><i class="fa fa-comments-o"></i> Bình luận</a></li>
            <li><a href="/admin/newsletter"><i class="fa fa-envelope-o"></i> Đăng ký nhận tin</a></li>
            <li><a href="/admin/settings"><i class="fa fa-globe"></i> Cài đặt hiển thị</a></li>
        </ul>
    </div>
</div>
