<div id="layouts-partials-header" th:replace="admin/layouts/header::layouts-header"></div>
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <a th:href="@{/admin/banners}" title="Quay lại quảng cáo"><i class="fa fa-long-arrow-left"></i>&nbsp;Quay lại quảng cáo</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Thêm quảng cáo</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form th:action="@{'/admin/banners/store'}" method="post" enctype="multipart/form-data" th:object="${banner}">
                            <div class="form-group row">
                                <label for="name" class="control-label col-md-3 col-sm-3 label-align">Tên quảng cáo&nbsp;<span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9">
                                    <input type="text" class="form-control" id="name" th:field="*{name}" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="thumbnail_url" class="control-label col-md-3 col-sm-3 label-align">File ảnh&nbsp;<span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9">
                                    <input type="file" class="form-control optional" id="thumbnail_url" th:field="*{thumbnail_url}" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="banner_url" class="control-label col-md-3 col-sm-3 label-align">Đường dẫn quảng cáo</label>
                                <div class="col-md-9 col-sm-9">
                                    <input type="text" class="form-control" id="banner_url" th:field="*{banner_url}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="control-label col-md-3 col-sm-3 label-align">Ghi chú</label>
                                <div class="col-md-9 col-sm-9">
                                    <textarea class="form-control" id="description" th:field="*{description}"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="is_actived" class="control-label col-md-3 col-sm-3 label-align">Cho phép hiển thị</label>
                                <div class="col-md-9 col-sm-9">
                                    <div class="checkbox">
                                        <input type="checkbox" class="flat" value="1" name="is_actived" id="is_actived">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="is_default" class="control-label col-md-3 col-sm-3 label-align">Cho phép hiển thị mặc định</label>
                                <div class="col-md-9 col-sm-9">
                                    <div class="checkbox">
                                        <input type="checkbox" class="flat" checked="checked" value="1" name="is_default" id="is_default">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 offset-md-3">
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                    <button type="reset" class="btn btn-success">Làm lại</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<div id="layouts-partials-footer" th:replace="admin/layouts/footer::layouts-footer"></div>