<div id="layouts-partials-header" th:replace="admin/layouts/header::layouts-header"></div>
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <a th:href="@{/admin/banners}" th:title="#{title.banners.index.back}"><i class="fa fa-long-arrow-left"></i>&nbsp;<span th:text="#{title.banners.index.back}"></span></a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 th:text="#{title.banners.index.edit}"></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form th:action="@{'/admin/banners/update'}" method="post" enctype="multipart/form-data" th:object="${banner}">
                            <span class="section" th:text="#{title.banners.index.info}"></span>
                            <div class="form-group row">
                                <label for="name" class="control-label col-md-3 col-sm-3 label-align"><span th:text="#{label.banners.form.name}"></span>&nbsp;<span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9">
                                    <input type="text" class="form-control" id="name" th:field="*{name}" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="thumbnail_url" class="control-label col-md-3 col-sm-3 label-align"><span th:text="#{label.banners.form.thumbnail_url}"></span>&nbsp;<span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9">
                                    <input type="file" class="form-control optional" id="thumbnail_url" th:field="*{thumbnail_url}" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="banner_url" class="control-label col-md-3 col-sm-3 label-align"><span th:text="#{label.banners.form.banner_url}"></span></label>
                                <div class="col-md-9 col-sm-9">
                                    <input type="text" class="form-control" id="banner_url" th:field="*{banner_url}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="control-label col-md-3 col-sm-3 label-align"><span th:text="#{label.banners.form.description}"></span></label>
                                <div class="col-md-9 col-sm-9">
                                    <textarea class="form-control" id="description" th:field="*{description}"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="is_actived" class="control-label col-md-3 col-sm-3 label-align"><span th:text="#{label.banners.form.is_actived}"></span></label>
                                <div class="col-md-9 col-sm-9">
                                    <div class="checkbox">
                                        <input type="checkbox" class="flat" value="1" id="is_actived" th:field="*{is_actived}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="is_default" class="control-label col-md-3 col-sm-3 label-align"><span th:text="#{label.banners.form.is_default}"></span></label>
                                <div class="col-md-9 col-sm-9">
                                    <div class="checkbox">
                                        <input type="checkbox" class="flat" value="1" id="is_default" th:field="*{is_default}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 offset-md-3">
                                    <button type="submit" class="btn btn-primary" th:text="#{name.button.save}"></button>
                                    <button type="reset" class="btn btn-success" th:text="#{name.button.reset}"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<div id="layouts-partials-footer" th:replace="admin/layouts/footer::layouts-footer"></div>