<div id="layouts-partials-header" th:replace="admin/layouts/header::layouts-header"></div>
<!-- page content -->
<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <a th:href="@{/admin/banners/add}" class="btn btn-success mt-2" title="Thêm quảng cáo"><i class="fa fa-plus"></i>&nbsp;Thêm quảng cáo</a>
        </div>
        <div class="title_right">
            <div class="col-md-6 col-sm-6 form-group pull-right top_search mb-0">
                <div class="input-group">
                    <label>
                        <input type="text" class="form-control" name="keyword">
                    </label>
                    <span class="input-group-btn">
                          <button class="btn btn-default" type="button">Tìm kiếm</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Quảng cáo</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Làm mới</a>
                                <a class="dropdown-item" href="#">Xuất ra excel</a>
                            </div>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th class="column-title">Tên quảng cáo</th>
                                <th class="column-title">Hình ảnh quảng cáo</th>
                                <th class="column-title">Trạng thái</th>
                                <th class="column-title no-link last"><span class="nobr">Thao tác</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="even pointer" th:each="b:${banners}">
                                <td th:text="${b.name}"></td>
                                <td><img th:attr="src=${b.thumbnail_url},alt=${b.name}" width="300px" alt=""/></td>
                                <td>
                                    <span th:if="${b.is_actived==1}" class="badge badge-success">Hiển thị</span>
                                    <span th:if="${b.is_actived==0}" class="badge badge-secondary">Ẩn</span>
                                </td>
                                <td class=" last"><a href="#" data-toggle="modal"
                                                     data-target=".bs-example-modal-lg">Xem chi tiết</a> |
                                    <a th:href="@{'/admin/banners/edit/'+${b.id}}">Cập nhật</a>
                                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">Thông tin quảng cáo</h4>
                                                    <button type="button" class="close" data-dismiss="modal"><span
                                                            aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-striped">
                                                        <tr>
                                                            <td>Tên quảng cáo:</td>
                                                            <td th:text="${b.name}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Mô tả:</td>
                                                            <td th:text="${b.description}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Hình ảnh quảng cáo:</td>
                                                            <td><img th:attr="src=${b.thumbnail_url},alt=${b.name}" width="400px"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Đường dẫn quảng cáo:</td>
                                                            <td th:text="${b.banner_url}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Là quảng cáo mặc định:</td>
                                                            <td>
                                                                <span th:if="${b.is_default==1}" class="badge badge-success">Có</span>
                                                                <span th:if="${b.is_default==0}" class="badge badge-secondary">Không</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Trạng thái:</td>
                                                            <td>
                                                                <span th:if="${b.is_actived==1}" class="badge badge-success">Hiển thị</span>
                                                                <span th:if="${b.is_actived==0}" class="badge badge-secondary">Ẩn</span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Đóng
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<div id="layouts-partials-footer" th:replace="admin/layouts/footer::layouts-footer"></div>