<div id="layouts-partials-header" th:replace="admin/layouts/header::layouts-header"></div>
<!-- page content -->
<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <a th:href="@{/admin/banners/add}" class="btn btn-success mt-2" th:title="#{title.banners.index.add}"><i
                    class="fa fa-plus"></i>&nbsp;<span th:text="#{title.banners.index.add}"></span></a>
        </div>
        <div class="title_right">
            <div class="col-md-6 col-sm-6 form-group pull-right top_search mb-0">
                <div class="input-group">
                    <label>
                        <input type="text" class="form-control" name="keyword">
                    </label>
                    <span class="input-group-btn">
                          <button type="button" class="btn btn-default" th:text="#{name.button.search}"></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 th:text="#{title.banners.index}"></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" th:text="#{name.button.refresh}"></a>
                                <a class="dropdown-item" href="#" th:text="#{name.button.export}"></a>
                            </div>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th class="column-title" th:text="#{label.banners.form.name}"></th>
                                <th class="column-title" th:text="#{label.banners.form.thumbnail_url}"></th>
                                <th class="column-title" th:text="#{label.banners.form.is_actived}"></th>
                                <th class="column-title no-link last"><span class="nobr" th:text="#{name.button.action}"></span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="even pointer" th:each="b:${banners}">
                                <td th:text="${b.name}"></td>
                                <td><img th:attr="src=${b.thumbnail_url},alt=${b.name}" width="300px"/></td>
                                <td>
                                    <span th:if="${b.is_actived==1}" class="badge badge-success" th:text="#{label.banners.badge.display.show}"></span>
                                    <span th:if="${b.is_actived==0}" class="badge badge-secondary" th:text="#{label.banners.badge.display.hide}"></span>
                                </td>
                                <td class=" last">
                                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" th:text="#{name.button.view}"></a> |
                                    <a th:href="@{'/admin/banners/edit/'+${b.id}}" th:text="#{name.button.update}"></a>
                                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel" th:text="#{title.banners.index.info}"></h4>
                                                    <button type="button" class="close" data-dismiss="modal"><span
                                                            aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-striped">
                                                        <tr>
                                                            <td th:text="#{label.banners.form.name}"></td>
                                                            <td th:text="${b.name}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td th:text="#{label.banners.form.description}"></td>
                                                            <td th:text="${b.description}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td th:text="#{label.banners.form.thumbnail_url}"></td>
                                                            <td><img th:attr="src=${b.thumbnail_url},alt=${b.name}" width="400px"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td th:text="#{label.banners.form.banner_url}"></td>
                                                            <td th:text="${b.banner_url}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td th:text="#{label.banners.form.is_default}"></td>
                                                            <td>
                                                                <span th:if="${b.is_default==1}"
                                                                      class="badge badge-success" th:text="#{label.banners.badge.default.yes}"></span>
                                                                <span th:if="${b.is_default==0}"
                                                                      class="badge badge-secondary" th:text="#{label.banners.badge.default.no}"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td th:text="#{label.banners.form.is_actived}"></td>
                                                            <td>
                                                                <span th:if="${b.is_actived==1}"
                                                                      class="badge badge-success" th:text="#{label.banners.badge.display.show}"></span>
                                                                <span th:if="${b.is_actived==0}"
                                                                      class="badge badge-secondary" th:text="#{label.banners.badge.display.hide}"></span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal" th:text="#{name.button.close}">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<div id="layouts-partials-footer" th:replace="admin/layouts/footer::layouts-footer"></div>