<div id="layouts-partials-header" th:replace="admin/layouts/header::layouts-header"></div>
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <a href="/admin/products" title="Quay lại danh sách sản phẩm"><i class="fa fa-long-arrow-left"></i> Quay
                    lại danh sách sản phẩm</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Thêm sản phẩm</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form class="" action="/admin/products/store" method="post" novalidate
                              enctype="multipart/form-data">
                            <span class="section">Thông tin sản phẩm</span>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Tên sản phẩm<span
                                        class="required">*</span></label>
                                <div class="col-md-9 col-sm-9">
                                    <input class="form-control" name="name" type="text" required="required" th:field="*{name}"/>
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Mô tả ngắn</label>
                                <div class="col-md-9 col-sm-9">
                                    <textarea id="short_description" required="required" class="form-control"
                                              name="short_description"
                                              data-parsley-trigger="keyup" data-parsley-minlength="20"
                                              data-parsley-maxlength="100"
                                              data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                                              data-parsley-validation-threshold="10"></textarea>
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Mô tả dài</label>
                                <div class="col-md-9 col-sm-9">
                                    <div class="x_content">
                                        <div id="alerts"></div>
                                        <div class="btn-toolbar editor" data-role="editor-toolbar"
                                             data-target="#editor-one">
                                            <div class="btn-group">
                                                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i
                                                        class="fa fa-font"></i><b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i
                                                        class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a data-edit="fontSize 5">
                                                            <p style="font-size:17px">Huge</p>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a data-edit="fontSize 3">
                                                            <p style="font-size:14px">Normal</p>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a data-edit="fontSize 1">
                                                            <p style="font-size:11px">Small</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i
                                                        class="fa fa-bold"></i></a>
                                                <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i
                                                        class="fa fa-italic"></i></a>
                                                <a class="btn" data-edit="strikethrough" title="Strikethrough"><i
                                                        class="fa fa-strikethrough"></i></a>
                                                <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i
                                                        class="fa fa-underline"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i
                                                        class="fa fa-list-ul"></i></a>
                                                <a class="btn" data-edit="insertorderedlist" title="Number list"><i
                                                        class="fa fa-list-ol"></i></a>
                                                <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i
                                                        class="fa fa-dedent"></i></a>
                                                <a class="btn" data-edit="indent" title="Indent (Tab)"><i
                                                        class="fa fa-indent"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn" data-edit="justifyleft"
                                                   title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                                                <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i
                                                        class="fa fa-align-center"></i></a>
                                                <a class="btn" data-edit="justifyright"
                                                   title="Align Right (Ctrl/Cmd+R)"><i
                                                        class="fa fa-align-right"></i></a>
                                                <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i
                                                        class="fa fa-align-justify"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i
                                                        class="fa fa-link"></i></a>
                                                <div class="dropdown-menu input-append">
                                                    <input class="span2" placeholder="URL" type="text"
                                                           data-edit="createLink"/>
                                                    <button class="btn" type="button">Add</button>
                                                </div>
                                                <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i
                                                        class="fa fa-cut"></i></a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn" title="Insert picture (or just drag & drop)"
                                                   id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                                                <input type="file" data-role="magic-overlay" data-target="#pictureBtn"
                                                       data-edit="insertImage"/>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i
                                                        class="fa fa-undo"></i></a>
                                                <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i
                                                        class="fa fa-repeat"></i></a>
                                            </div>
                                        </div>
                                        <div id="editor-one" class="editor-wrapper"></div>
                                        <textarea name="long_description" id="long_description"
                                                  style="display:none;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Ảnh sản phẩm</label>
                                <div class="col-md-9 col-sm-9">
                                    <input class="form-control optional" name="thumbnail_url" type="text"/></div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3  label-align">Trạng thái</label>
                                <div class="col-md-3 col-sm-3 ">
                                    <select class="form-control" name="status">
                                        <option value="sold_out">Bán hết</option>
                                        <option value="stop_sale">Dừng bán</option>
                                        <option value="normal">Có sẵn</option>
                                        <option value="disabled">Ẩn</option>
                                        <option value="coming_soon">Sắp về hàng</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Mã sản phẩm<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" name="sku" type="text" required="required"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3  label-align">Danh mục sản phẩm</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select class="form-control" name="category_id" th:field="*{category_id}"/>
                                        <option value="0">Không</option>
                                        <option th:each="c: ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Thứ tự hiển thị</label>
                                <div class="col-md-9 col-sm-9">
                                    <input class="form-control number" name="display_order" type="number" min="0"></div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">SEO tiêu đề</label>
                                <div class="col-md-9 col-sm-9">
                                    <textarea id="meta_title" required="required" class="form-control"
                                              name="meta_title"
                                              data-parsley-trigger="keyup" data-parsley-minlength="20"
                                              data-parsley-maxlength="100"
                                              data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                                              data-parsley-validation-threshold="10"></textarea>
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">SEO từ khóa</label>
                                <div class="col-md-9 col-sm-9">
                                    <textarea id="meta_keyword" required="required" class="form-control"
                                              name="meta_keyword"
                                              data-parsley-trigger="keyup" data-parsley-minlength="20"
                                              data-parsley-maxlength="100"
                                              data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                                              data-parsley-validation-threshold="10"></textarea>
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">SEO mô tả</label>
                                <div class="col-md-9 col-sm-9">
                                    <textarea id="meta_description" required="required" class="form-control"
                                              name="meta_description"
                                              data-parsley-trigger="keyup" data-parsley-minlength="20"
                                              data-parsley-maxlength="100"
                                              data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                                              data-parsley-validation-threshold="10"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 offset-md-3">
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                    <button type="reset" class="btn btn-success">Làm lại</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<div id="layouts-partials-footer" th:replace="admin/layouts/footer::layouts-footer"></div>