<div id="layouts-partials-header" th:replace="admin/layouts/header::layouts-header"></div>
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <a th:href="@{'/admin/products'}" title="Quay lại danh sách sản phẩm"><i class="fa fa-long-arrow-left"></i> Quay
                    lại danh sách sản phẩm</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Thêm sản phẩm</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form th:action="@{'/admin/products/store'}" method="post" enctype="multipart/form-data"
                              th:object="${product}">
                            <div class="form-group row">
                                <label for="name" class="col-form-label col-md-3 col-sm-3 label-align">Tên sản phẩm&nbsp;<span
                                        class="required">*</span></label>
                                <div class="col-md-9 col-sm-9">
                                    <input type="text" class="form-control" id="name" th:field="*{name}" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="slug" class="col-form-label col-md-3 col-sm-3 label-align">Slug&nbsp;<span
                                        class="required">*</span></label>
                                <div class="col-md-9 col-sm-9">
                                    <input type="text" class="form-control" id="slug" th:field="*{slug}" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="summary" class="col-form-label col-md-3 col-sm-3 label-align">Tóm
                                    tắt</label>
                                <div class="col-md-9 col-sm-9">
                                    <textarea class="form-control" id="summary" th:field="*{summary}"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="short_description" class="col-form-label col-md-3 col-sm-3 label-align">Mô
                                    tả ngắn&nbsp;<span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9">
                                    <textarea class="form-control" id="short_description"
                                              th:field="*{short_description}" required></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="long_description" class="col-form-label col-md-3 col-sm-3 label-align">Mô tả
                                    dài&nbsp;<span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9">
                                    <textarea class="form-control" id="long_description" th:field="*{long_description}"
                                              required></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="category_id" class="control-label col-md-3 col-sm-3 label-align">Danh mục
                                    cha</label>
                                <div class="col-md-3 col-sm-3">
                                    <select class="form-control" id="category_id" th:field="*{category_id}">
                                        <option value="0" hidden="hidden">Chọn danh mục cha</option>
                                        <option th:each="c: ${categories}" th:attr="value=${c.id}"
                                                th:text="${c.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="sub_category_id" class="control-label col-md-3 col-sm-3 label-align">Danh
                                    mục con</label>
                                <div class="col-md-3 col-sm-3">
                                    <select class="form-control" id="sub_category_id" th:field="*{sub_category_id}">>
                                        <option value="0" hidden="hidden">Chọn danh mục con</option>
                                        <option th:each="s: ${subcategories}" th:attr="value=${s.id}"
                                                th:text="${s.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="manufacture_id" class="control-label col-md-3 col-sm-3 label-align">Nhà sản
                                    xuất</label>
                                <div class="col-md-3 col-sm-3">
                                    <select class="form-control" id="manufacture_id" th:field="*{manufacture_id}">
                                        <option value="0" hidden="hidden">Chọn nhà sản xuất</option>
                                        <option th:each="m: ${manufactures}" th:attr="value=${m.id}"
                                                th:text="${m.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="display_order" class="col-form-label col-md-3 col-sm-3 label-align">Thứ tự
                                    hiển thị</label>
                                <div class="col-md-2 col-sm-2">
                                    <input type="number" min="0" class="form-control" id="display_order"
                                           th:field="*{display_order}"></div>
                            </div>
                            <div class="form-group row">
                                <label for="meta_title" class="col-form-label col-md-3 col-sm-3 label-align">SEO tiêu đề&nbsp;<span
                                        class="required">*</span></label>
                                <div class="col-md-9 col-sm-9">
                                    <textarea class="form-control" id="meta_title" th:field="*{meta_title}"
                                              required></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="meta_keyword" class="col-form-label col-md-3 col-sm-3 label-align">SEO từ
                                    khóa&nbsp;<span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9">
                                    <textarea class="form-control" id="meta_keyword" th:field="*{meta_keyword}"
                                              required></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="meta_description" class="col-form-label col-md-3 col-sm-3 label-align">SEO
                                    mô tả&nbsp;<span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9">
                                    <textarea class="form-control" id="meta_description" th:field="*{meta_description}"
                                              required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 offset-md-3">
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                    <button type="reset" class="btn btn-success">Làm lại</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<div id="layouts-partials-footer" th:replace="admin/layouts/footer::layouts-footer"></div>