<div id="layouts-partials-header" th:replace="admin/layouts/header::layouts-header"></div>
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <a href="/admin/products/add" class="btn btn-success"><i class="fa fa-plus"></i> Thêm sản phẩm</a>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" name="keyword">
                        <span class="input-group-btn">
                                  <button class="btn btn-default" type="button">Tìm kiếm</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="display: block;">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Danh sách sản phẩm</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Làm mới</a>
                                    <a class="dropdown-item" href="#">Xuất ra excel</a>
                                </div>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th class="column-title">Mã sản phẩm</th>
                                    <th class="column-title">Tên sản phẩm</th>
                                    <th class="column-title">Danh mục</th>
                                    <th class="column-title">Ảnh đại diện</th>
                                    <th class="column-title">Trạng thái</th>
                                    <th class="column-title no-link last"><span class="nobr">Thao tác</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${products.isEmpty()}">
                                    <td colspan="6"> Không có sản phẩm nào</td>
                                </tr>
                                <tr class="even pointer" th:each="p: ${products}">
                                    <td th:text="${p.sku}"></td>
                                    <td th:text="${p.name}"></td>
                                    <td th:text="${p.category_id}"></td>
                                    <td><img th:attr="src=${p.thumbnail_url},alt=${p.name}"/></td>
                                    <td th:text="${p.status}"></td>
                                    <td class=" last"><a href="#" data-toggle="modal"
                                                         th:attr="data-target=${'#bs-example-modal-lg-'+p.id}">Xem</a>
                                        <div class="modal fade bs-example-modal-lg"
                                             th:attr="id=${'bs-example-modal-lg-'+p.id}" tabindex="-1" role="dialog"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myModalLabel">Thông tin sản
                                                            phẩm</h4>
                                                        <button type="button" class="close" data-dismiss="modal"><span
                                                                aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table table-striped">
                                                            <tr th:each="pro: ${promotion}">
                                                                <td>Tên khuyến mãi:</td>
                                                                <td th:text="${pro.promotion.name}"></td>
                                                            </tr>
                                                            <tr th:each="pro: ${promotion}">
                                                                <td>Nội dung khuyến mãi:</td>
                                                                <td th:text="${pro.promotion.description}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Mã sản phẩm:</td>
                                                                <td th:text="${p.sku}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Tên sản phẩm:</td>
                                                                <td th:text="${p.name}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Mô tả ngắn:</td>
                                                                <td th:text="${p.short_description}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Mô tả dài:</td>
                                                                <td th:text="${p.long_description}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ảnh đại diện:</td>
                                                                <td><img
                                                                        th:attr="src=${p.thumbnail_url},alt=${p.name}"/>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Đơn vị:</td>
                                                                <td th:text="${p.unit}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Trạng thái:</td>
                                                                <td th:text="${p.status}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Danh mục:</td>
                                                                <td th:text="${p.category_id}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Thứ tự hiển thị:</td>
                                                                <td th:text="${p.display_order}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>SEO tiêu đề:</td>
                                                                <td th:text="${p.meta_title}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>SEO từ khóa:</td>
                                                                <td th:text="${p.meta_keyword}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>SEO mô tả:</td>
                                                                <td th:text="${p.meta_description}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ngày tạo:</td>
                                                                <td th:text="${p.created_at}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Người tạo:</td>
                                                                <td th:text="${p.created_by}"></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Đóng
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<div id="layouts-partials-footer" th:replace="admin/layouts/footer::layouts-footer"></div>