<div id="layouts-partials-header" th:replace="admin/layouts/header::layouts-header"></div>
<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <a href="/admin/categories" class="btn btn-success"><i class="fa fa-plus"></i> Thêm danh mục sản phẩm cha</a>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Sửa</a>
                                <a class="dropdown-item" href="#">Xóa</a>
                            </div>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="" action="/admin/categories/update" method="post" validate th:object="${category}" enctype="multipart/form-data">
                        <span class="section">Sửa thông tin danh mục cha</span>
                        <input class="form-control" name="id" type="hidden" required="required" th:field="*{id}"/>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Tên danh mục<span
                                    class="required">*</span></label>
                            <div class="col-md-9 col-sm-9">
                                <input class="form-control" name="name" type="text" required="required" th:field="*{name}"/>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Slug <span
                                    class="required">*</span></label>
                            <div class="col-md-9 col-sm-9">
                                <input class="form-control" name="slug" type="text" required="required" th:field="*{slug}"/></div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Hình ảnh minh họa</label>
                            <div class="col-md-9 col-sm-9">
                                <img th:src="@{${'/public/uploads' + category.image}}"  th:alt="*{name}" width="100px"/></div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Tóm tắt</label>
                            <div class="col-md-9 col-sm-9">
                                <input class="form-control" name="summary" type="text" th:field="*{summary}"/></div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Mô tả</label>
                            <div class="col-md-9 col-sm-9">
                                <textarea id="description" required="required" class="form-control" name="description" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"  th:field="*{description}"></textarea>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Cho phép hiển thị</label>
                            <div class="col-md-9 col-sm-9">
                                <div class="checkbox">
                                    <label>
                                        <input class="flat" name="is_actived" type="checkbox" checked="checked" value="1"  th:field="*{is_actived}">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">Thứ tự hiển thị</label>
                            <div class="col-md-9 col-sm-9">
                                <input class="form-control number" name="display_order" type="number" min="0"  th:field="*{display_order}"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 offset-md-3">
                                <button type="submit" class="btn btn-primary">Lưu</button>
                                <button type="reset" class="btn btn-success">Làm lại</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh mục sản phẩm cha</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Làm mới</a>
                                <a class="dropdown-item" href="#">Xuất ra excel</a>
                            </div>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th class="column-title">Tên danh mục</th>
                                <th class="column-title">Thứ tự hiển thị</th>
                                <th class="column-title">Trạng thái</th>
                                <th class="column-title no-link last"><span class="nobr">Thao tác</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:text="${promotionList}"></tr>
                            <tr class="even pointer" th:each="c: ${categories}">
                                <td th:text="${c.name}"></td>
                                <td th:text="${c.display_order}"></td>
                                <td>
                                    <span th:if="${c.is_actived==1}" class="badge badge-success">Hiển thị</span>
                                    <span th:if="${c.is_actived==0}" class="badge badge-secondary">Ẩn</span>
                                </td>
                                <td class="last"><a href="#" data-toggle="modal"
                                                    th:attr="data-target=${'#bs-example-modal-lg-'+c.id}">Xem</a> |
                                    <a th:attr="href='../../categories/edit/'+${c.id}">Sửa</a> |
                                    <a th:attr="href='../../categories/delete/'+${c.id}" onclick="return confirm('Bạn muốn xóa danh mục cha này chứ?')">Xóa</a>
                                    <div class="modal fade bs-example-modal-lg" th:attr="id=${'bs-example-modal-lg-'+c.id}" tabindex="-1" role="dialog"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">Thông tin danh mục</h4>
                                                    <button type="button" class="close" data-dismiss="modal"><span
                                                            aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-striped">
                                                        <tr>
                                                            <td>Tên danh mục:</td>
                                                            <td th:text="${c.name}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Ảnh danh mục:</td>
                                                            <td><img th:attr="src=@{${'/public/uploads' + c.image}},alt=${c.name}"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Tóm tắt:</td>
                                                            <td th:text="${c.summary}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Mô tả:</td>
                                                            <td th:text="${c.description}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Thứ tự hiển thị:</td>
                                                            <td th:text="${c.display_order}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Trạng thái:</td>
                                                            <td>
                                                                <span th:if="${c.is_actived==1}" class="badge badge-success">Hiển thị</span>
                                                                <span th:if="${c.is_actived==0}" class="badge badge-secondary">Ẩn</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Ngày tạo:</td>
                                                            <td th:text="${c.created_at}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Người tạo:</td>
                                                            <td th:text="${c.created_by}"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Đóng
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <ul class="pagination" th:if="${totalPages > 1}">
                            <li class="page-item">
                                <a class="page-link" th:if="${currentPage > 1}" th:href="@{'?search=' + ${keyword} + '&page=1'}">Đầu</a>
                                <span class="page-link" th:unless="${currentPage > 1}">Đầu</span>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:if="${currentPage > 1}"
                                   th:href="@{'?search=' + ${keyword} + '&page=' + ${currentPage - 1}}">Trước</a>
                                <span class="page-link" th:unless="${currentPage > 1}">Trước</span>
                            </li>
                            <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}"
                                th:classappend="${currentPage == i} ? active">
                                <a class="page-link" th:if="${currentPage != i}"
                                   th:href="@{'?search=' + ${keyword} + '&page=' + ${i}}">[[${i}]]</a>
                                <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:if="${currentPage < totalPages}"
                                   th:href="@{'?search=' + ${keyword} + '&page=' + ${currentPage + 1}}">Sau</a>
                                <span class="page-link" th:unless="${currentPage < totalPages}">Sau</span>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:if="${currentPage < totalPages}"
                                   th:href="@{'?search=' + ${keyword} + '&page=' + ${totalPages}}">Cuối</a>
                                <span class="page-link" th:unless="${currentPage < totalPages}">Cuối</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<div id="layouts-partials-footer" th:replace="admin/layouts/footer::layouts-footer"></div>