<div id="layouts-partials-header" th:replace="admin/layouts/header::layouts-header"></div>
<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách thông tin khách hàng</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Làm mới</a>
                                <a class="dropdown-item" href="#">Xuất ra excel</a>
                            </div>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th class="column-title">Email</th>
                                <th class="column-title">Họ và tên</th>
                                <th class="column-title">Ngày sinh</th>
                                <th class="column-title">Giới tính</th>
                                <th class="column-title">Số điện thoại</th>
                                <th class="column-title">Trạng thái</th>
                                <th class="column-title no-link last"><span class="nobr">Thao tác</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="even pointer" th:each="c:${customers}">
                                <td th:text="${c.email}"></td>
                                <td th:text="${c.first_name}+' '+${c.last_name}"></td>
                                <td th:text="${c.birthday}"></td>
                                <td th:text="${c.gender}"></td>
                                <td th:text="${c.telephone}"></td>
                                <td>
                                    <span th:if="${c.is_actived==1}" class="badge badge-success">Hoạt động</span>
                                    <span th:if="${c.is_actived==0}" class="badge badge-secondary">Tạm dừng</span>
                                </td>
                                <td class=" last"><a href="#" data-toggle="modal"
                                                     th:attr="data-target=${'#bs-example-modal-lg-'+c.id}">Xem</a> | <a href="#">Khóa tài khoản</a>
                                    <div class="modal fade bs-example-modal-lg" th:attr="id=${'bs-example-modal-lg-'+c.id}" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">Thông tin khách hàng</h4>
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-striped">
                                                        <tr>
                                                            <td>Tên tài khoản:</td>
                                                            <td th:text="${c.email}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Họ và tên:</td>
                                                            <td th:text="${c.first_name}+' '+${c.last_name}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Ngày sinh:</td>
                                                            <td th:text="${c.birthday}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Giới tính:</td>
                                                            <td th:text="${c.gender}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Số điện thoại:</td>
                                                            <td th:text="${c.telephone}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Địa chỉ:</td>
                                                            <td th:text="${c.address}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Trạng thái:</td>
                                                            <td>
                                                                <span th:if="${c.is_actived==1}" class="badge badge-success">Hoạt động</span>
                                                                <span th:if="${c.is_actived==0}" class="badge badge-secondary">Tạm dừng</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Ngày tạo:</td>
                                                            <td th:text="${c.created_at}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Người tạo:</td>
                                                            <td th:text="${c.created_by}"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<div id="layouts-partials-footer" th:replace="admin/layouts/footer::layouts-footer"></div>